# Python cache
__pycache__/
*.pyc
*.pyo

# uv virtual environment
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Output files
outputs/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Data Repository
data/

target/
dbt_packages/
logs/
